<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="{{site.verification_key}}" content="site.verification_value" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}'>
    <meta name="keywords" content="{{ site.keywords }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.Title }}{% else %}{{ site.Title }}{% endif %}</title>
 
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/imgs/favicon.ico">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> 
    <script></script>
</head>