// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
  width: calc(100% + var(--spacer-2)* 2);
  margin-left: calc( -1 * var(--spacer-2));
  background-color: rgb(217 76 76 / 60%);
}

.masthead-title {
  margin-bottom: 0; 
  
  .left{
    a {
        color: inherit;
        text-decoration: none;
        font-size: 2.2em;
      }
      .subTitle{
        opacity: 0.3;
        font-size: 70%;
        font-weight: 400;
      }
  }
  
    // Navbar styles
  .nav {
    float: right;
    line-height: 1.25rem;
    word-spacing: 1rem;
    font-size:1.4rem;
    padding: 0 1rem;
    small {
      font-weight: 400; 
      
    }
    a{
        background: linear-gradient(to right, var(--yellow), #567291) no-repeat;
        background-size: 0 1px;
        background-position: right bottom;
        transition: background-size 0.3s;
        text-decoration: none;

    }
    a:hover{
      background-position: left bottom;
      background-size: 100% 2px; 
      color: var(--yellow);
    } 
  }
  
  &::after{
    display: table;
    content: '';
    clear: both;
  }
}

