// Masthead
//
// Super small header above the content for site name and short description.
/*btn 边框*/

   .borderRotate {
       --bg-color:rgba(217, 76, 76, 1);
       --border-color: hsl(250, 84%, 42%);  
       background-color: var(--bg-color);
       border: none;
       outline: none;
       z-index: 1;
       border-radius: 10px;
       cursor: pointer;
       /*outline: 4px solid #fff;*/
       position: relative;
       overflow: hidden;
   }
 .borderRotate::before {
       content: '';
       position: absolute;
       width: 200%;
       height: 200%;
       background-color: var(--border-color);
       z-index: -2;
       left: 50%;
       top: 50%;
       transform-origin: left top;
       animation: borderRotate 2s linear infinite;
   }

   @keyframes borderRotate {
       to {
           transform: rotate(1turn);
       }
   }

   .borderRotate::after {
       content: '';
       position: absolute;
       --w: 4px;
       width: calc(100% - 2* var(--w));
       height: calc(100% - 2* var(--w));
       background-color: var(--bg-color);
       z-index: -1;
       left: var(--w);
       top: var(--w);
       border-radius: inherit;
   }


.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
  width: calc(100% + var(--spacer-2)* 2);
  margin-left: calc( -1 * var(--spacer-2)); 
}

.masthead-title {
  margin-bottom: 0; 
  
  .left{
    a {
        color: inherit;
        text-decoration: none;
        font-size: 2.2em;
      }
      .subTitle{
        opacity: 0.3;
        font-size: 70%;
        font-weight: 400;
      }
  }
  
    // Navbar styles
  .nav {
    float: right;
    line-height: 1.25rem;
    word-spacing: 1rem;
    font-size:1.4rem;
    padding: 0 1rem;
    small {
      font-weight: 400; 
      
    }
    a{
        background: linear-gradient(to right, var(--yellow), #567291) no-repeat;
        background-size: 0 1px;
        background-position: right bottom;
        transition: background-size 0.3s;
        text-decoration: none;

    }
    a:hover{
      background-position: left bottom;
      background-size: 100% 2px; 
      color: var(--yellow);
    } 
  }
  
  &::after{
    display: table;
    content: '';
    clear: both;
  }
}

